*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root
{
    --main-color:#ff305f;
    --red-color: red;
}
/* Start Nav */

.nav-link
{
    color: #fff !important;
    transition: color .5s;
}
.nav-link:hover{
    color: var(--main-color) !important;
}
.navbar-toggler
{
    background-color:#fff !important;
   
}
.navbar-brand
{
    color: var(--main-color)  !important;
}
/* End Nav */
/* Start header */
.header{
    height: 100vh;
    background-image: url("../img/slider/slider-01.jpg");
    background-size: cover;
    background-position: center;
}
.header h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-color);
}
.header h5{
    font-size: 18px;
}
.header p{
    font-size: 18px;
}
.layer-header{
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* End header */
/* Start About */
.about{
    padding: 80px 0;
}
.about-img{
    position: relative;
    border: 7px solid black;
    border-radius: 7px;
}
.parent
{
position: relative;
top: 25px;
left: 25px;
overflow: hidden;
border-radius: 7px;
background-color: var(--red-color);
}
.about-img img{
    width: 100%;
    display: block;
}
.layer-about
{
position: absolute;
top: 120%;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, .2);
transition: top .5s;
display: flex;
justify-content: center;
align-items: center;
}
.layer-about i{
    padding: 0 5px;
}
.about-img:hover .layer-about{
    top: 0;
}
.about-text h2{
    position: relative;
    margin-left: 20px;
}
.about-text p{
    border-bottom: dashed gray 1px;
}
.about-text h2::before
{
    content: "";
    position: absolute;
    left: -20px;
    width: 5px;
    height: 40px;
    background-color: var(--main-color);
}
.class-ul span{
    color: #999;
}
.class-ul ul{
 padding-left: 0;
 width: 60%;
}
.class-ul .last-ul{
 width: 40%;  
}
.about-text button{
    margin-top: 15px;
    background-color: rgba(220, 20, 60, 0.884);
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: background-color .5s;
}
button:hover {
    background-color: orangered;
}
/* End About */

/*Start services */
.services{
      padding: 100px 0; 
      background-color: rgb(197, 199, 201);  
 }
 .line1{
     width: 60px;
     height: 1px;
     background-color:  var(--red-color);
     display: block; 
     margin: 5px auto  ; 
 }
.line2
{
     width: 150px;
     height: 1px;
    background-color:  var(--red-color);
     display: block; 
     margin: 5px auto; 
 }
 .services-content{
     padding: 10px;
     text-align: center;
    transition: transform 2s ,background-color 1s; 
 }
 .services-content i{
     color:var(--main-color);
 }
 .services-content:hover{
 background-color: #fff;
 }
 .services-content:hover i{
    transform: scale(1.1);
 }
/* End services */

/* Start portfolio */

.portfolio{
   padding: 100px 0;
}
.portfolio ul {
  transition: all 1s;
}
.portfolio ul .activee
{
    color:var(--main-color);
}
.portfolio ul li a:hover
{
    color:var(--main-color);
}
.portfolio ul li{
    padding: 0 10px;
}
.portfolio ul li a{
    text-decoration: none;
    color: rgba(7, 1, 1, 0.705);
    transition: color .5s;
  }
.portfolio-img
{
    margin-top: 20px;
   position: relative;
   overflow: hidden; 
}
.portfolio-img img{
    width: 100%;
}
 .portfolio-img .porto-layer{
    position: absolute;
    top:0%; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
  }
.porto-layer i {
 position: relative;
 top: 85%;
 left: 90%;
}
 .portfolio-img:hover .porto-layer{
   opacity: 1;
}
/* End Portfolio */

/* Start web-info */
.web-info{
    background-color: #999;
    padding: 100px 0;
}
.web-info
{
    padding: 80px 0;
    background-color: #F1F1F1;
}
.web-info-content{
     line-height: 1.7;   
}
.web-info-content i{
color: var(--main-color);
}
.web-info-content h4{
    font-size: 25px;
}
.web-info-content p{
   color:#5A5555;
}
/* End Web info */

/* Start Feedback */
.feedback{
    padding: 75px 0;
}
.shape{
    width: 300px;
    height: 200px;
    background-color: var(--red-color);
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}
.feedback-img{
    width: 20%;
    position: relative;
  
}
.feedback-txt
{
    width: 80%;
}
.carousel-indicators [data-bs-target] 
{
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
}
/* End Feedback */

/* Start Blog */
.blog{
     padding: 100px 0; 
    background-color: darkgrey;
}
.card-body
{
    margin-top:10px;
}
.card-body h5{
    cursor: pointer;
    transition: color .5s;
}
.card-body h5:hover{
    color:var(--main-color);
}
/* Start Blog */

/* Start Contact */
.contact
{
   padding: 100px 0;  
}
.contain
{
    width: 60%;
}
form input
{
   padding: 6px 10px;
  margin-bottom: 25px;
}
/* End Contact */

/* Start Footer */
.footer-content i{
   padding: 10px 7px ;
   transition:color .4s ;
}
.footer-content i:hover{
    color:var(--main-color);
}
.footer-content p a{
   color: var(--red-color);
}
/* End Footer */

/* Media queries */
@media  screen and (max-width: 991px) {
    nav ul {
    transform: translateX(50%);
    }
    }